<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="miserables.json">
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension=".json" mimeType="application/json" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="miserables2.json">
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension=".json" mimeType="application/json" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
